@charset "UTF-8";
/* CSS Document */

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */
a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/
.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #FFEAF0;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	position: sticky;
	z-index: 6;
}

#header-logo {
	grid-column: 1/3;
	width: 134px;
}

#header-logo:active {
		transform: scale(1.05);
}

#mobile-nav {
	grid-column: 4/-1;
}

#mobile-nav:hover {
	cursor: pointer;
}

#mobile-nav:active span {
	background-color: #6F538D;
}

.burger {
	height: 16px;
	background-color:#E16388;
	display: block;
	margin-bottom: 10px;
}

.purple-title {
	font-size: 48px;
	color: #6F538D;
}


/* index page */

/* hero section */
#hero-con {
	background-color: #aaaaaa;
	background: url("../images/hero-hm-mob.jpg");
	height: 458px;
}

#hero-text {
	grid-column: 1/-1;
	margin-top: -10px;
	color: #fff;
}

#hero-text h3 {
	font-size: 42px;
}

#hero-text p {
	font-size: 22px;
}

#hero-text a {
	color: #fff;
}

#hero-text a:active {
	color: #FDC7C7;
	text-decoration: underline 2px solid #FDC7C7;
}

/* latest posts section */
#image-slider-con {
	background-color: #ffffff;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#mobile-slider-right:active, #mobile-slider-left:active {
	color: #FDC7C7;
}

#post1 h3 {
	margin: 10px;
}

#post1 p {
	font-size: 22px;
	color: #6F538D;
	margin-top: 25px;
	margin-left: 10px;
}

#post1 h3:active {
	color: #fff;
}

.blog-box {
	background-color: #DFDAF1;
	height: 507px;
}

/* about me section */
#about-us-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

#about-us-text-con {
	background-color: #FDC7C7;
}

#about-us-text {
	grid-column: 1/-1;
	margin-top: 10px;
	margin-bottom: 50px;
}

#about-us-text h3:active {
	color: #fff;
	text-decoration: underline 2px solid #fff;
}

#about-us-text p {
	color: #E16388;
	font-size: 28px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}

/* contact section */
#contact-us-con {
	margin-top: 30px;
	background-color: #fff;
}

#contact-text {
	grid-column: 1/-1;
	margin-bottom: 100px;
	color: #6F538C;
	font-size: 28px;
}

#contact-title {
	color: #E16388;
	font-size: 48px;
}

#contact-form {
	grid-column: 1/-1;
	background-color: #B5EAD8;
	margin-left: -20px;
	width: 428px;
	padding-top: 50px;
}

/* contact form */
.form-style {
	font-family: inherit;
	font-size: 26px;
	color: #FDC7C7;
	border: none;
	margin-left: 40px;
	margin-top: 16px;
	padding: 16px;
}

.form-style input:focus, select:focus, textarea:focus, #news-email:focus {
	outline: 2px solid #E16388;
}

#name, #email {
	width: 315px;
}

select {
	background-color: #fff;
	width: 347px;
}

textarea { 
	width: 315px;
	height: 190px;
	max-width: 315px;
	max-height: 190px;
	resize: none;
}

#form-button {
	font-family: inherit;
	font-size: 26px;
	background-color: #85CBC3;
	display: flex;
	color: #fff;
	width: 184px;
	height: 45px;
	border: none;
	margin-top: 55px;
	margin-bottom: 50px;
	margin-left: 40px;
}

#form-button:active {
	transform: scale(1.05);
}

/*Common page elements  */

/* footer */
#footer-con {
	height: 410px;
	background-color: #FFEAF0;
}

#footer-logo {
	margin-top: 20px;
	width: 134px;
	grid-column: 1/3;
}

#footer-logo:active {
	transform: scale(1.05);
}

#footer-newsletter {
	margin-top: 50px;
	grid-column: 1/-1;
}

#footer-newsletter label {
	font-size: 28px;
	color: #E16388;
}

#news-email {
	display: block;
	font-family: inherit;
	font-size: 26px;
	color: #FDC7C7;
	border: none;
	margin-top: 16px;
	padding-left: 20px;
	width: 347px;
	height: 59px;
}

#signup {
	font-family: inherit;
	font-size: 26px;
	background-color: #85CBC3;
	color: #fff;
	width: 184px;
	height: 45px;
	border: none;
	margin-top: 23px;
}

#signup:active {
	transform: scale(1.05);
}

/* gallery page */

/* hero section */
#hero-gallery-con {
	background-color: #aaaaaa;
	background: url("../images/hero-gallery-effie-mob.jpg");
	height: 458px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	color: #fff;
}

#hero-gallery-text h2 {
	font-size: 48px;
}

#hero-gallery-text p {
	font-size: 28px;
	margin-bottom: 40px;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #ffffff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
}

.dot:active {
	background-color: #FDC7C7;
}

.current {
	background-color:#FDC7C7;
}

  /* full gallery */
#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #E16388;
	font-size: 48px;
}

#gallery h3 {
	font-size: 40px;
}

#gallery h4 {
	font-size: 30px;
}

.text-con {
	margin-top: 30px;
	margin-bottom: 90px;
	text-align: center;
}

.img-text {
	color: #6F538D;
	margin: 0px;
}

.gallery-box {
	grid-column: 1/-1;
	width: 428px;
	background-color: #DFDAF1;
	margin-bottom: 20px;
	margin-left: -20px;
}

#footer-newsletter2 {
	margin-top: 20px;
	height: 40px;
	grid-column: 1/3;
	background-color: #ddd;
}

/* lightboxes */
.lightbox {
    display: none;
	position: fixed;
    top: 0;
	bottom: 0;
    background-color: rgba(10, 0, 20, 0.95);  
    background-repeat: no-repeat;
	width: 428px;

    z-index: 5000;
}

.lb_close {
    color: #E16388;
    font-size: 50px;
    text-decoration: none;
    position: relative;
    top: 15px;
    left: 90%;
    font-weight: bold;
	grid-column: 1/-1;
}

.lb_close:hover { 
	color: #FDC7C7;
}

.lightbox article {
	margin-top: 125%;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.lb_heading { 
	font-size: 30px;
	color: #E16388;
	margin: 0;
}

.lb_text { 
    line-height: 1;
    padding-top: 10px;
	font-size: 22px;
	color: #fff;
	margin: 0;
}

#lightbox1 {
    background-image: url("../images/lbimg1-effie-mob.jpg");
    background-position: left 50% top 25%;
}

#lightbox2 {
    background-image: url("../images/lbimg2-blkaries-mob.jpg");
    background-position: left 50% top 25%;
}

#lightbox3 {
    background-image: url("../images/lbimg3-lotte-mob.jpg");
    background-position: left 50% top 25%;
}

#lightbox4 {
    background-image: url("../images/lbimg4-hiiragis-mob.jpg");
    background-position: left 50% top 25%;
}

#lightbox5 {
    background-image: url("../images/lbimg5-remiflan-mob.jpg");
    background-position: left 50% top 25%;
}

#lightbox6 {
    background-image: url("../images/lbimg6-elin-mob.jpg");
    background-position: left 50% top 25%;
}

/* toggle the lightbox on */
.lightbox:target { 
	display:block;
}